.other {
    margin: 20px 40px;
    color: #f0f6fd;
}

.other .container {
    margin-bottom: 20px;
}

#bezierHelperContainer {
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #8bb2d6;
    border-radius: 7px;
    width: 240px;
}

.inner {
    margin-top: 5px;
    position: relative;
    font-size: 13px;
    color: #202224;
}

table {
    table-layout: fixed;
    width: 200px;
    margin-bottom: 14px;
}

td {
    padding-bottom: 5px;
    font-size: 13px;
}

tr:last-child td {
    padding-top: 10px;
}

input[type="number"], button {
    width: 52px;
    border-radius: 2px;
    padding: 2px;
}

input[type="number"]:first-child, button:first-child {
    margin-right: 8px;
}

input[type="range" i] {
    width: 115px;
}

#mirroringRadioContainer label:nth-child(1), label:nth-child(2) {
    margin-right: 6px;
}

label span {
    margin-left: 3px;
}