* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #202224;
    font-family: 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

div {
    display: block;
}

/*===== Navbar ===== */

#navbar {
    background: #8bb2d6;
    filter: drop-shadow(0px 1px 7px #353535);
    color: #202224;
    top: 0;
    height: 80px;
    line-height: 80px;
    width: 100vw;
    z-index: 10;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 90%;
}

.logo {
    float: left;
    font-size: 1.3em;
    height: 60px;
    width: fit-content;
}

.logo img {
    position: absolute;
    height: 55px;
    top: 12.5px;
}

.logo .logo-title {
    position: absolute;
    margin-left: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* left: 110px; */
}

#navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}
@media(max-width: 680px) {
    #navbar ul {
        display: none;
    }
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: #202224;
    display: block;
    font-size: 1.1em;
    height: 60px;
    letter-spacing: 1px;
    margin: 0 10px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
}

#navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: #202224;
    transition: all 1s ease;
    -webkit-transition: all 0.5s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -1px;
    background: #fbcb3e;
}

#navbar li a:before {
    left: 0;
    transition: 0.5s;
}

#navbar li a:after {
    background: #fbcb3e;
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
    background: #fbcb3e;
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
}



/*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
@media(max-width: 680px) {
    .menuIcon {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 15px;
        top: 30px;
        height: 20px;
        width: 30px;
        z-index: 12;
    }

    /* Icon Bars */
    .icon-bars {
        background: #202224;
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
    }

    .icon-bars::before {
        background: #202224;
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: #202224;
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
    }

    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}


/*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
.overlay-menu {
    background: #8bb2d6;
    color: #202224;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
    display: block;
    position: relative;
}

.overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
    /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
    color: #fbcb3e;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

/* ===== General Styles ===== */
.content-box {
    margin: 20px 40px;
    min-width: fit-content;
}

.container {
    margin: auto;
    width: 90%;
    padding: 20px 30px;
    background: #353535;
    color: #f0f6fd;
    border-radius: 10px;
    max-width: 1000px;
}

.subtitle {
    font-size: 35px;
    font-weight: 600;
    color: #fbcb3e;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle::first-letter {
    font-size: 50px;
}

.paragraph {
    padding-top: 10px;
    font-size: 18px;
    line-height: 26px;
}

/* ===== About Section ===== */
.about {
    margin: 40px 40px 20px;
    color: #f0f6fd;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ===== Work Section ===== */
.work {
    margin: 20px 40px;
    color: #f0f6fd;
}

.horizontal-list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21%, 1fr));
    grid-gap: 4%;
}
@media only screen and (max-width: 680px) {
    .work-list {
        grid-template-columns: repeat(auto-fit, minmax(25%, 100%));
        grid-gap: 1.5%;
    }
}

.horizontal-list div {
    cursor: pointer;
    background-color: #8bb2d6;
    background-size: cover;
    background-position: center;
    padding-top: 0px;
    /* padding-bottom: 300px; */
    height: 300px;
    border-radius: 7px;
}

.horizontal-list h3 {
    color: #f0f6fd;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    padding: 2%;
    background-color: #202224;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: color 0.5s ease, padding 0.5s ease;
    -webkit-transition: color 0.5s ease, padding 0.5s ease;
}

.horizontal-list div:hover h3 {
    color: #fbcb3e;
    padding: 5%;
    transition: color 0.5s ease, padding 0.5s ease;
    -webkit-transition: color 0.5s ease, padding 0.5s ease;
}

/* ===== Contact Section ===== */
.contact {
    margin: 20px 40px;
    color: #f0f6fd;
}

.contact-left {
    flex-basis: 40%;
}

.social-icons {
    margin-top: 10px;
    width: 100%;
}

.social-icons a {
    text-decoration: none;
    font-size: 40px;
    margin-right: 5%;
    color: #f0f6fd;
    display: inline-block;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

.social-icons a:hover {
    color: #3CA345;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

.contact-right {
    flex-basis: 60%;
    text-align: right;
}

.contact-right form {
    width: 100%;
}

/* form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #202224;
    padding: 3%;
    margin: 3%;
    color: #f0f6fd;
    font-size: 18px;
    border-radius: 5px;
    resize: none;
}

form .btn {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 3%;
}

.btn {
    cursor: pointer;
    background-color: #fbcb3e;
    color: #353535;
    font-weight: 500;
    padding: 3% 5%;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
} */

/* ===== Coyright Section ===== */
.copyright {
    position: relative;
    bottom: 0;
    font-size: small;
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: #8bb2d6;
    color: #353535;
    margin-top: 5%;
}

/* ===== Under Construction ===== */
.construction {
    margin: 40px 40px 20px;
    color: #f0f6fd;
}

.construction-text {
    padding: 100px 50px;
    
    background-color: #8bb2d6;
    color: #353535;
    border-radius: 10px;

    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

.construction-text p::first-letter {
    font-size: 60px;
}

.construction-text .fa-solid {
    font-size: 100px;
}