.performances {
    margin: 20px 40px;
    color: #f0f6fd;
}

.video-with-description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.video-with-description h2 {
    font-size: 23px;
    color: #8bb2d6;
}

.description {
    margin-top: 30px;
    flex-basis: 40%;
    font-size: 18px;
}

.video {
    flex-basis: 55%;
}

.video iframe {
    width: 100%;
    border-radius: 10px;
}

table {
    width: 100%;
    min-width: 450px;
    border-collapse: collapse;
}

table td {
    padding: 8px;
    border-bottom: 1px solid #8bb2d6;
}

tbody tr:last-child td {
    padding: 8px;
    border-bottom: none;
}

thead {
    text-align: left;
    font-size: 18px;
    color: #fbcb3e;
}

tbody tr:hover {
    background-color: #454545;
}

table i:hover {
    color: #3CA345;
}